<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ДОБАВЛЕНИЕ ПРОДУКТОВ НА САЙТ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.slim.min.js"></script>
</head>
<body>
<div class="page">
    <div class="product-add">
        <h4>ДОБАВЛЕНИЕ ПРОДУКТОВ</h4>
        <form action="/addProduct" method="POST">
            <div class="product-input-form">
                <div>
                    <label class="form-label" for="title">Название продукта - </label>
                    <input class="form-control" type="text" name="title" id="title" value=""/>
                </div>
                <div>
                    <label class="form-label" for="article">ID продукта - </label>
                    <input class="form-control" type="number" name="article" id="article">
                </div>
                <div>
                    <label class="form-label" for="description">Тип продукта - </label>
                    <input class="form-control" type="text" name="description" id="description">
                </div>
                <div>
                    <label class="form-label" for="cost">Стоимость - </label>
                    <input class="form-control" type="number" name="cost" id="cost">
                </div>
                <div style="display: none">
                    <label class="form-label" for="imageURL">Фото продукта</label>
                    <input class="form-control" type="text" name="imageURL" id="imageURL">
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Добавить продукт</button>
            <button class="btn btn-danger" type="reset">Удалить продукт</button>
        </form>
    </div>
    <h4>Добавленные продукты</h4>
    <div class="product-block">
        <div class="product-card" th:each="product:${productList}">
            <h3 class="product-card-title" th:text="${product.getTitle}"></h3>
            <p class="product-card-article">ID : <span th:text="${product.getArticle()}"></span></p>
            <p class="product-card-cost">Стоимость: <span th:text="${product.getCost()}"></span> руб.</p>
            <p class="product-card-description">Тип продукта: <span th:text="${product.getDescription()}"></span></p>
            <a href="" th:href="@{'/del/'+${product.getArticle()}}">Удалить продукт</a>
        </div>
    </div>
</div>
</body>
</html>